<ul>
  <li><%= render partial: "pages/links", locals: { link_name: 'Home', path: root_path } %></li>
</ul>

<main>
    <h1>Шляпников Андрей</h1>
    <h2>Будущая Rails-звезда! </h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>JavaScript</li>
            <li>Чемпион по пркидованию портов Vagrant</li>
        </ul>
    </section>
    <section>
        <h2>О Обо мне</h2>
        <p>Нормальнй такой парень</p>
    </section>
</main>
